@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima.woff2') format('woff2'),
        url('../fonts/Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Thin.ttf');
	font-weight: 100;
	font-display: swap;
}



@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-ExtraLight.ttf');
	font-weight: 200;
	font-display: swap;
}


@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Light.ttf');
	font-weight: 300;
	font-display: swap;
}


@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}


@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}


@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}


