mixin brands-list(params)
	+b.brands-list
		.wrap
			if !params.filters
				+e.title Списко брендов,<br> с которыми мы<br> работаем
			+e.lists.flex._justify
				+e.list
					+e.LABEL.link._active A. Lange and Sohne
						input(name='brands[]' id='xxx' type='hidden' value='brand1')
					+e.LABEL.link B.R.M.
						input(name='brands[]' type='hidden' value='brand2')
					+e.LABEL.link Blancpain
						input(name='brands[]' type='hidden' value='brand3')
					+e.LABEL.link BOUCHERON
						input(name='brands[]' type='hidden' value='brand4')
					+e.LABEL.link Bovet
						input(name='brands[]' type='hidden' value='brand5')
					+e.LABEL.link Breguet
						input(name='brands[]' type='hidden' value='brand6')
					+e.LABEL.link Breitling
						input(name='brands[]' type='hidden' value='brand7')
					+e.LABEL.link Bulgari
						input(name='brands[]' type='hidden' value='brand8')
					+e.LABEL.link Cartier
						input(name='brands[]' type='hidden' value='brand9')
					+e.LABEL.link Bulgari
						input(name='brands[]' type='hidden' value='brand10')
					+e.LABEL.link Arnold & Son
						input(name='brands[]' type='hidden' value='brand11')
					+e.LABEL.link Audemars Piguet
						input(name='brands[]' type='hidden' value='brand12')
				+e.list
					+e.LABEL.link Cvstos
					+e.LABEL.link DAMIANI
					+e.LABEL.link Daniel Roth
					+e.LABEL.link De Bethune
					+e.LABEL.link de Grisogono
					+e.LABEL.link F.P. Journe
					+e.LABEL.link Franck Muller
					+e.LABEL.link Gerald Genta
					+e.LABEL.link Girard-Perregaux
					+e.LABEL.link Glashütte Original
					+e.LABEL.link Graff
				+e.list
					+e.LABEL.link Jaeger LeCoultre
					+e.LABEL.link Jaquet Droz
					+e.LABEL.link JORG HYSEK
					+e.LABEL.link LOUIS MOINET
					+e.LABEL.link Maurice Lacroix
					+e.LABEL.link OMEGA
					+e.LABEL.link Panerai
					+e.LABEL.link Parmigiani
					+e.LABEL.link Patek Philippe
					+e.LABEL.link Piaget
					+e.LABEL.link Graham
				+e.list
					+e.LABEL.link TAG Heuer
					+e.LABEL.link TUDOR
					+e.LABEL.link Romain Jerome
					+e.LABEL.link Ulysse Nardin
					+e.LABEL.link Urwerk
					+e.LABEL.link Vacheron Constantin
					+e.LABEL.link Zenith
			+e.btns.flex
				if params.filters
					+btn({text:'Применить'}).btn_empty.btn_black.close.js-close-modal
					+e.throw.flex._vertical Сбросить
				else 
					+btn({text:'Понятно'}).btn_empty.btn_onbg.close.js-close-modal