mixin double-btn()
	+b.double-btn.flex
		+e.A.link.flex._vertical._center.js-modal(href='#callback') Продать изделие
		+e.A.link._icon.flex._vertical._center(href='/catalog.html')
			| Каталог
			+e.icon.flex._center._vertical
				+icon('arrow-deg')  
