mixin socials()
	+b.socials.flex._vertical
		+e.A.item.flex._center._vertical(href='#',target='_blank')
			+icon('whatsapp')
		+e.A.item.flex._center._vertical(href='#',target='_blank')
			+icon('viber')
		+e.A.item.flex._center._vertical(href='#',target='_blank')
			+icon('tg')
