+b.SECTION.about(id='about')
	.wrap
		+e.H2.title.h2 НАШ<br> ЦЕНТР
		+e.text
			p Мы продаём и покупаем швейцарские часы, ювелирные изделия и драгоценные камни с 2003 года. Дорожим вашим временем, работаем прозрачно и профессионально. Находимся в Краснодаре и будем рады видеть вас среди наших клиентов
	+e.list.flex._start
		+e.item._first
			+e.item-round._small
			+e.item-round._big
			+e.item-wrap
				+e.item-img
					img.object-fit(src='/img/about__img1.png')
				+e.item-content.flex._center._vertical
					+e.SPAN.item-number 2003
					+e.P.item-text ГОД ОСНОВАНИЯ 
		+e.item._second
			+e.item-round._small
			+e.item-round._big
			+e.item-wrap
				+e.item-img
					img.object-fit(src='/img/about__img2.png')
				+e.item-content.flex._center._vertical
					+e.SPAN.item-number 10.000+
					+e.P.item-text ПРОВЕДЕННЫХ СДЕЛОК
			+e.item-desk.p.flex._center
				+e.item-desk-container
					p Хорошо знаем рынок швейцарских часов и ювелирных изделий. Оценку проводят квалифицированные специалисты с большим опытом работы
		+e.img
			img(src='/img/about__img.png')
			+e.item-desk.p
				+e.item-desk-container
					p К каждлой сдедлке мы относимся профессионально, дорожим вашим временем 
		+e.item._third
			+e.item-round._small
			+e.item-round._big
			+e.item-wrap
				+e.item-img
					img.object-fit(src='/img/about__img3.png')
				+e.item-content.flex._center._vertical
					+e.SPAN.item-number 1
					+e.P.item-text ЛУЧШИЕ В КРАСНОДАРЕ
