+b.SECTION.brands
	+e.circle
		+icon('brandscircle')
	.wrap
		+e.wrap.flex._justify
			+e.img
				img(src='/img/brands__img.png')
			+e.content.content.flex._start
				+e.H2.title КУПИМ<br> НА ВЫГОДНЫХ<br> УСЛОВИЯХ
				+e.text
					p Мы выкуапем элитные швейцарские часы, ювелирные украшения и драгоценные камни в день обращения. Работаем с известным брендами швейцарских часовых домов и премиальными ювелирными брендами
				+btn({text:'Список брендов',type:'link',icon:'burger'})(class='btn_menu',href='/catalog.html')
