+b.SECTION.breads
	.wrap
		+e.wrap.flex._justify._vertical
			+e.list.flex
				+e.A.link(href='/catalog.html') Каталог
				+e.sep /
				+e.A.link(href='/catalog.html') Швейцарские часы
				+e.sep /
				+e.A.link(href='/product.html') Rolex
				+e.sep /
				+e.A.link._active(href='#') Green gold 8003
			+e.A.back.flex._vertical(href='/catalog.html')
				+b.DIV.flex._vertical._center 
					+icon('arrowback')
				| Назад в каталог