+b.SECTION.callback
	.wrap
		+e.H2.title.h2 НАПИШИТЕ НАМ
		+b.form.flex._justify
			+e.field-wrap
				+e.INPUT.field(type="text" minlength="2" required)
				+e.LABEL.label
					+e.SPAN.content Ваше имя
			+e.field-wrap
				+e.INPUT.field(type="text" name='phone' minlength="2" required)
				+e.LABEL.label
					+e.SPAN.content +7
			+e.field-wrap._full
				+e.TEXTAREA.field(minlength="2" required)
			+e.btns
				+e.btns-left
					+btn({text:'Добавить фото',icon:'plus'})(class='btn_gray btn_plus')
					+photos()
				+e.btns-right
					+btn({text:'Отправить'})(class='btn_primary') Отправить
					+e.privacy 
						p Нажимая кнопку «Отправить», вы принимаете политику конфеденциальности. Мы не передаём данные третьим лицами
