+b.SECTION.catalog 
	.wrap
		+e.H2.title.h2 КАТАЛОГ
		+e.sub-title
			p Новые поступления
		+e.list.flex._justify
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
		+e.btn-wrap
			+btn({text:'Загрузить ещё'})(class='btn_primary btn_empty')
