+b.SECTION.catalog.catalog--shop 
	.wrap
		+e.list.flex._justify
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
		+e.btn-wrap
			+btn({text:'Загрузить ещё'})(class='btn_primary btn_empty')
