+b.SECTION.catalog 
	.wrap
		+e.H2.title.h2 КАТАЛОГ
		+e.sub-title
			p Новые поступления
		+e.list.flex._justify
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({})
			+product({hide:true})
			+product({hide:true})
		+e.btn-wrap.flex._center
			+btn({text:'В каталог',type:'link'})(href='/catalog.html')
