+b.checkboxs
	.wrap
		+e.lists
			+e.list
				+e.list-title Коллекция
				+e.item._active
					+e.item-check
						+icon('check')
					span Мужские
				+e.item
					+e.item-check
						+icon('check')
					span Женские
			+e.list
				+e.list-title Состояние
				+e.item
					+e.item-check
						+icon('check')
					span Новые
				+e.item
					+e.item-check
						+icon('check')
					span С пробегом
			+e.list
				+e.list-title Акции
				+e.item
					+e.item-check
						+icon('check')
					span Скидка
			+e.list
				+e.list-title Референс
				+e.item
					+e.item-check
						+icon('check')
					span Limited Edition
		+e.btns
			+btn({text:'Применить'}).btn_empty.btn_black.close.js-close-modal
			+e.throw Сбросить
