+b.SECTION.estimate
	+e.img1
		img(src='/img/estimate__img1.png')
	+e.img2
		img(src='/img/estimate__img2.png')
		+e.circle
			+icon('estimatecircle')
	.wrap
		+e.wrap
			+e.H2.title.h2
				span ОНЛАЙН   
				span ОЦЕНКА 
			+form({})



