+b.SECTION.features
	.wrap
		+e.wrap.flex._justify
			+e.left.flex._justify._start.content
				+e.H2.title 
					span ПОЛУЧИТЕ
					span МАКСИМАЛЬНУЮ
					span ЦЕНУ
				+e.SPAN.persent 95
			+e.sep
			+e.right
				+e.text.content
					p Предлагаем до 95% от стоимости изделия. Конечная цена выкупа зависит от состояния изделия, наличия оригинальной упаковки и документов. Как правило, оцениваем дороже конкурентов. Выплачиваем наличными в рублях, долларах или евро
				+e.list.flex._justify
					+e.item
						+icon('price')
						+e.item-text
							p Предложим наилучшую цену&nbsp;выкупа
					+e.item
						+icon('purse')
						+e.item-text
							p Выплачиваем наличные в&nbsp;день&nbsp;обращения
					+e.item
						+icon('clock')
						+e.item-text
							p Время сделки всего 10&nbsp;минут
					+e.item
						+icon('fingerprint')
						+e.item-text
							p Гарантируем анонимность и безопасность сделки
				+btn({text:'Продать'})(class='btn_onbg btn_empty')

