+b.SECTION.filters
	.wrap
		+e.wrap
			+e.item
				+e.A.popup.js-modal(href='#checkboxs')
					span Фильтры
					+icon('filtersPopup')
			+e.item
				+e.A.popup.js-modal(href='#brands')
					span Бренды
					+icon('filtersPopup')
			+e.item._price
				+e.price
					+b.price(id='price')
					+e.price-item
						+e.SPAN.price-before от
						input(type="number" id='price1')
						+e.SPAN.price-currency $							
					+e.price-item
						+e.SPAN.price-before до
						input(type="number" id='price2')
						+e.SPAN.price-currency $
			+e.item._currencyes
				+e.currencyes
					+e.currency._active $ (US)
					+e.currency ₽ (RU)
					+e.currency € (EUR)
			+e.item
				+e.A.popup.js-modal(href='#sort')
					span Сначала новые
					+icon('filtersPopup')


