+b.SECTION.filters
	.wrap
		+e.wrap
			+e.item
				+e.A.popup.js-modal(href='#checkboxs')
					span Фильтры
					+icon('filtersPopup')
			+e.item
				+e.A.popup.js-modal(href='#brands')
					span Бренды
					+icon('filtersPopup')
			+e.item._price
				+b.price(id='price')
				input(type="text" id='price1')
				input(type="text" id='price2')
			+e.item._currencyes
				+e.currencyes
					+e.currency._active $ (US)
					+e.currency ₽ (RU)
					+e.currency € (EUR)
			+e.item
				//- +e.A.popup.js-modal(href='#flters')
				+e.SPAN.popup
					span Сначала новые
					+icon('filtersPopup')


