+b.SECTION.filters
	.wrap
		+e.wrap.flex
			+e.item._small.flex
				+e.A.popup.flex.js-modal(href='#checkboxs')
					span Фильтры
					+icon('filtersPopup')
			+e.item._small.flex
				+e.A.popup.flex.js-modal(href='#brands')
					span Бренды
					+icon('filtersPopup')
			+e.item._price._big.flex
				+b.price
					+e.range(id='price')
					+e.item
						+e.SPAN.item-before от
						input(type="number" id='price1')
						+e.SPAN.item-currency $							
					+e.item
						+e.SPAN.item-before до
						input(type="number" id='price2')
						+e.SPAN.item-currency $
			+e.item._currencyes._big.flex
				+b.currencyes.flex
					+e.item._active.flex._vertical(data-currency='$') $ (US)
					+e.item.flex._vertical(data-currency='₽') ₽ (RU)
					+e.item.flex._vertical(data-currency='€') € (EUR)
			+e.item._small.flex
				+e.A.popup.flex.js-modal(href='#sort')
					span Сначала новые
					+icon('filtersPopup')


