+b.HEADER.footer(class=footer.class)
	.wrap
		+e.wrap.flex._justify._vertical
			+e.SPAN.conf Политика конфеденциальности
			if footer.devs 
				+e.A.developers(href='', target="_blank") Дизайн и разработка сайта
			+e.A.logo(href='/')
				+icon('logo')