+b.form.flex._justify
	+e.title Заполните форму
	+e.field-wrap
		+e.INPUT.field(type="text" minlength="2" required)
		+e.LABEL.label
			+e.SPAN.content Ваше имя
	+e.field-wrap
		+e.INPUT.field(type="text" minlength="2" required)
		+e.LABEL.label
			+e.SPAN.content +7
	+e.field-wrap._full
		+e.TEXTAREA.field(minlength="2" required)
	+e.btns
		+e.btns-left
			+btn({text:'Добавить фото',icon:'plus',type:'label'})(class='btn_gray btn_plus')(for='estimateFile')
			+photos()
		+e.btns-right
			+btn({text:'Отправить'})(class='btn_primary') Отправить
			+e.privacy 
				p Нажимая кнопку «Отправить», вы принимаете политику конфеденциальности. Мы не передаём данные третьим лицами
	input(type='file',style='display:none',id='estimateFile')