+b.HEADER.header
	.wrap
		+e.wrap.flex._vertical
			+e.A.burger.flex._vertical._center.js-modal(href='#menu')
				div
				div
				span Menu
			+e.A.logo(href='/main.html') <strong>Vip</strong> Skupka
			+e.info.flex._bottom
				+e.A.phone(href='tel:78612535555') +7 861 253 55 55
				+e.socials.flex.vertical
					+e.A.socials-item.flex._vertical(href='' target='_blank') WhatsApp
					+e.A.socials-item.flex._vertical(href='' target='_blank') Viber
					+e.A.socials-item.flex._vertical(href='' target='_blank') Telegram
