+b.mobile-menu
	.wrap
		+e.list
			+e.A.link(href='/main.html') Главная
			+e.A.link(href='/catalog.html') Каталог
			+e.A.link(href='#') Выкуп
			+e.A.link(href='#') Онлайн-оценка
			+e.A.link(href='#') Наш центр
			+e.A.link(href='#') Контакты
