+b.modals._callback.mfp-hide#callback
	+form({})

+b.modals._thank.mfp-hide#thank
	include ../layouts/thank

+b.modals._privacy.mfp-hide#privacy
	include ../layouts/privacy

+b.modals._menu._full._purple.mfp-hide#menu
	include ../layouts/mobile-menu

+b.modals._brands.mfp-hide#brands
	+brands({filters:true})

+b.modals._brands2._full._purple.mfp-hide#brands2
	+brands({})

+b.modals._checkboxs.mfp-hide#checkboxs
	include ../layouts/checkboxs

+b.modals._checkboxs.mfp-hide#sort
	include ../layouts/sort

