+b.modals._callback.mfp-hide#callback
	+form({})

+b.modals._thank.mfp-hide#thank
	include ../layouts/thank

+b.modals._privacy.mfp-hide#privacy
	include ../layouts/privacy

+b.modals._menu.mfp-hide#menu
	include ../layouts/mobile-menu

