+b.privacy
	+e.wrap.content
		+e.H2.title Положение о конфиденциальности «VIPSKUPKA-KRS.RU»
		p Настоящее Положение о конфиденциальности разработано в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» и Положением об обработке персональных данных, утвержденным Обществом и применяется ко всем пользователям сайта https://http://vipskupka-krs.ru/.
		p 1. Настоящее Положение о конфиденциальности действует в отношении всей информации, которую Общество получает или может получить от субъекта.
		p 2. Общество собирает и хранит только ту персональную информацию, которая необходима для предоставления им услуг или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
		p 3. Персональные данные субъекта Общество обрабатывает в следующих целях:
		p — обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну;
		p — продвижение товаров, работ, услуг Общества на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи (допускается в порядке, предусмотренном п. 3.7настоящего Положения);
		p — в целях надлежащего исполнения своих обязанностей Общества обрабатывает персональные данные, необходимые для надлежащего исполнения договорных обязательств полученных Обществом в связи с заключением договора, стороной которого является субъект персональных данных, персональные данные не распространяются, а также не предоставляются третьим лицам без согласия субъекта персональных данных и используются Обществом исключительно для исполнения указанного договора и заключения договоров с субъектом персональных данных:
		p персональные данные работников Общества, состоящих в трудовых отношениях с Обществом;
		p персональные данные иных физических лиц, в том числе, но не ограничиваясь, состоящих в договорных, ученических, гражданско-правовых отношениях с Обществом, в том числе, но не ограничиваясь, учеников, покупателей, постоянных покупателей.
		p Общество хранит персональные данные субъекта в соответствии с Положением о хранении персональных данных Общества, утвержденным с Общество соответствующим приказом Общества.
		p 4. В отношении персональных данных субъекта сохраняется их конфиденциальность, кроме случаев добровольного предоставления субъектом информации о себе для общего доступа неограниченному кругу лиц.
		p 5. Общество вправе передать персональные данные субъекта третьим лицам в случае, если передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.
		p 6. Обработка персональных данных субъекта осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. При обработке персональных данных субъекта Общество руководствуется Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».
		p 7. При утрате или разглашении персональных данных Общество незамедлительно информирует субъекта об утрате или разглашении персональных данных.
		p 8. Общество принимает необходимые организационные и технические меры для защиты персональных данных субъекта от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
		p 9. Общество совместно с субъектом принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных субъекта.
		p 10. Общество обязано:
		p — использовать полученную информацию исключительно для целей, указанных в настоящем Положении;
		p — обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения субъекта, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных субъекта, за исключением предусмотренных настоящим Положением;
		p — принимать меры предосторожности для защиты конфиденциальности персональных данных субъекту согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте;
		p — осуществить блокирование персональных данных, относящихся к соответствующему субъекту, с момента обращения или запроса субъекта или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
		p 11. Общество, не исполнивший свои обязательства, несет ответственность за убытки, понесенные субъектом в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.
		p 12. В случае утраты или разглашения конфиденциальной информации Общество не несет ответственность, если данная конфиденциальная информация:
		p — стала публичным достоянием до ее утраты или разглашения;
		p — была получена от третьей стороны до момента ее получения Обществом;
		p — была разглашена с согласия субъекта.