+b.SECTION.product-page
	.wrap
		+e.wrap.flex._justify
			+e.left.flex
				+e.title Rolex
				+e.desk Часы Rolex Datejust 36 мм<br> Blue moonlight
				+b.params
					+e.item
						+e.SPAN.item-name Тип:
						+e.SPAN.item-value Классические
					+e.item
						+e.SPAN.item-name Материал корпуса:
						+e.SPAN.item-value Нержавеющая сталь
					+e.item
						+e.SPAN.item-name Диаметр корпуса:
						+e.SPAN.item-value 36 мм
					+e.item
						+e.SPAN.item-name Цвет циферблата:
						+e.SPAN.item-value Синий
					+e.item
						+e.SPAN.item-name Тип механизма:
						+e.SPAN.item-value Кварцевый
					+e.item
						+e.SPAN.item-name Функции:
						+e.SPAN.item-value Дата, часы, минуты
					+e.item
						+e.SPAN.item-name Материал ремешка:
						+e.SPAN.item-value Серебро
					+e.item
						+e.SPAN.item-name Состояние:
						+e.SPAN.item-value Новые
			+e.img
				+e.img-ratio
					+e.img-wrap
						img(src='/img/product.png')
			+e.right.flex
				+e.price.flex._justify._vertical
					+e.SPAN.price-usd $12.800
					+e.price-right.flex._bottom
						+e.SPAN.price-eu 8.500 €
						+e.SPAN.price-rub 567.000 ₽
				a.btn.btn_black.btn_empty.js-modal(href='#callback') Купить
				+e.avaliable-text Товар сейчас находится в наличии,<br> его можно забрать  по адресу:<br> Краснодар, ул.Коммунаров, 107
				+e.avaliable.flex._vertical в наличии

