+b.SECTION.tags
	.wrap
		+e.wrap
			+e.list
				+e.item 
					+e.item-name Мужские
					+e.item-close
				+e.item 
					+e.item-name Новые
					+e.item-close
				+e.item 
					+e.item-name Акция
					+e.item-close
			+e.throw
				| Сбросить
				+icon('throw')