.btn {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	line-height: 11rem;
	display: inline-block;
	letter-spacing: -0.02em;
	border: 1px solid $primary;
	color: $white;
	background: $primary;
	font-weight: 600;
	font-size: 1.5rem;
	transition: color 0.4s;
	padding: 0px 6rem;
	transition: all 0.3s;
	@include max-screen($small_tablet) {
		line-height: 8rem;
		font-size: 1.4rem;
		padding: 0px 3.8rem;
	}
	&:hover {
		background: transparent;
		color: $primary;
	}

	&_empty {
		&.btn_primary {
			background: transparent;
			color: $primary;
			&:hover {
				background: $primary;
				color: #fff;
			}
		}
	}

	&_black {
		background: transparent;
		color: $black;
		&:hover {
			background: $black;
			color: $white;
		}
	}

	&_onbg {
		background: $gray;
		color: $black;
		border-color: $gray;
		&.btn_empty {
			background: transparent;
			border-color: rgba(255,255,255,0.2);
			color: #fff;
			&:hover {
				background: rgba(255,255,255,0.2);
				color: #fff;
				border-color: transparent;
			}
		}
	}

	&_gray {
		background: $gray;
		color: $black;
		border-color: $gray;
		&:hover {
			background: transparent;
		}
	}

	&_plus {
		overflow: hidden;
	}

	&_menu {
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			.btn__menu::before,
			.btn__menu::after {
				background: $primary;
			}
		}
	}

	&__plus {
		position: absolute;
		height: 7.2rem;
		z-index: 2;
		top: calc( 50% - ( 7.2rem / 2 ) );
		left: 0px;
		width: calc( 7.2rem / 2 );

		&::before {
			content: '';
			position: absolute;
			width: 1.2rem;
			height: 2px;
			background: #fff;
		}
		&::after {
			content: '';
			position: absolute;
			width: 1.2rem;
			height: 2px;
			background: #fff;
			transform: rotate(90deg);
		}
	}

	&__round {
		position: absolute;
		background: $primary;
		height: 7.2rem;
		width: 7.2rem;
		border-radius: 50%;
		top: calc( 50% - ( 7.2rem / 2 ) );
		left: calc( 7.2rem / 2 * -1 );
	}

	&__menu {
		flex-direction: column;
		margin-right: 2.4rem;

		&::before,
		&::after {
			content: '';
			height: 1px;
			background: #fff;
			margin-bottom: 2px;
			width: 10px;
		}

		&::after {
			margin-left: 3px;
			margin-bottom: 0px;
		}
	}

}