.double-btn {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: -0.02em;
	border: 1px solid rgba(255, 255, 255, 0.2);
	line-height: 11rem;
	white-space: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: calc( 50% - 1.5rem );
		left: 50%;
		height: 3rem;
		width: 1px;
		background: rgba(255, 255, 255, 0.2);
		transition: all 0.5s;
	}

	&:hover {
		&::before {
			height: 100%;
			top: 0px;
		}
	}

	@include max-screen($small_tablet) {
		line-height: 8rem;
		font-size: 1.3rem;
	}
	&__link {
		width: 50%;
		cursor: pointer;
		padding: 0px 1rem;
		position: relative;
		overflow: hidden;
		&:hover {
			.double-btn__icon{
				margin-left: 0.5rem;
				&::before {
					width: 400px;
					height: 400px;
				}
			}

			&::before {
				width: 101% !important;
				opacity: 1 !important;
			}
		}

		&:not(.double-btn__link_icon) {
			&::before {
				content: '';
				position: absolute;
				top: 0px;
				height: 100%;
				width: 1px;
				background: rgba(255, 255, 255, 0.2);
				transition: all 0.5s;
				right: -2px;
				opacity: 0;
			}
		}
	}

	&__icon {
		width: 6.4rem;
		height: 6.4rem;	
		border-radius: 50%;
		margin-left: 2.5rem;
		position: relative;
		transition: all 0.25s;
		@include max-screen($small_tablet) {
			width: 5rem;
			height: 5rem;
		}
		svg {
			width: 2.5rem;
			height: 2.5rem;
			stroke: #fff;
			stroke-width: 2;
		}

		&::before {
			background: rgba(255,255,255,0.1);
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			border-radius: 50%;
			transition: all 0.8s;
		}
	}
}