.filters {
	&__wrap {
		border: 1px solid rgba(196,196,196,0.5);
		height: 6rem;
		display: flex;
	}

	&__item {
		border-right: 1px solid rgba(196,196,196,0.5);
		white-space: nowrap;
		
		&:last-child {
			border: none;
		}
		display: flex;
		&_currencyes {
			position: relative;
		}

		&_price {
			position: relative;
			background: #ccc;
			flex-grow: 1;
			max-width: 26rem;
			&::before {
				content: '';
				position: absolute;
				z-index: 2;
				right: 0px;
				height: 60%;
				left: 50%;
				top: 20%;
				width: 1px;
				background: rgba(196,196,196,0.5);
			}
			input {
				width: 50%;
				border: none;
				text-align: center;
				font-weight: 500;
				font-size: 1.4rem;
				letter-spacing: -0.02em;
				color: rgba(17, 17, 17, 0.5);
			}
		}
	}

	&__popup {
		flex-grow: 1;
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 1.6rem;
		letter-spacing: -0.02em;
		padding: 0px 4rem;
		
		svg {
			width: 1rem;
			opacity: 1;
			margin-left: 1rem;
			flex-shrink: 0;
		}
	}

	&__currencyes {
		display: flex;
		flex-grow: 1;
		padding: 0rem 3rem;
	}

	&__currency {
		font-size: 1.4rem;
		opacity: 0.5;
		display: flex;
		align-items: center;
		flex-grow: 1;
		margin: 0px 1.5rem;
		cursor: pointer;
		position: relative;
		padding: 0px 0.5rem;
		justify-content: center;
		&_active {
			opacity: 1;
			&::before {
				content: '';
				position: absolute;
				bottom: -1px;
				width: 100%;
				height: 2px;
				left: 0px;
				background: $black;
			}
		}
	}
}