.mobile-menu {
	width: 100%;
	padding-top: 3rem;
	&__list {
		display: flex;
		flex-direction: column;
	}

	&__link {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 140%; 
		letter-spacing: -0.02em;
		margin-bottom: 1.5rem;
		@include max-screen($small_tablet) {
			font-size: 1.8rem;
		}
	}
}