.shop-header {
	margin-top: 6rem;
	margin-bottom: 2rem;
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include max-screen($small_tablet) {
			flex-direction: column;
			align-items: flex-start;
			.switch {
				flex-wrap: nowrap;
				margin: 0rem 0.2rem;
				&__item {
					width: calc( ( 100% - 9rem ) / 2 );
					font-size: 1.4rem;
					letter-spacing: -0.04em;
					&:last-child {
						text-align: right;
					}

					&:nth-child(3) {
						font-size: 1.3rem;
					}
				}
				&__toogle {
					width: 7rem;
					height: 3.5rem;
				}
			}
		}
	}

	&__title {
		font-family: "Optima";
		font-size: 6.6rem;
		text-transform: uppercase;
		font-weight: 400;
		@include max-screen($small_tablet) {
			font-size: 5.3rem;
		}
	}

	label {
		font-size: 1.2rem;
		cursor: pointer;
	}

	input {
		width: 2rem;
		height: 2rem;
		display: block;
		margin: 1rem;
		border: 1px solid #000;
		border-radius: 4px;
		&[checked] {
			background: black;
		}
	}
}